*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: rgb(0, 5, 50);
  color: white;
}
.App{
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
.page{
  margin: 10px;
  display: flex;
  flex-direction: column;  
  gap: 8em;
 
}
.top{
  width: fit-content;
  margin: auto;
  padding: 20px;
}
.top input{
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.741);
  color: white;
  background-color: #ffffff3b;
  font-size: 1.2em;
  margin: 15px;
}
.top input::placeholder{
  color: rgba(255, 255, 255, 0.775);
}
.bottom{
  padding: 25px;
}
.list{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
table, td, th{
  border-bottom: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: end;
}
.each td{
  padding: 20px 10px;
  cursor:pointer;
}
th{
  padding: 5px 10px;
  font-size: small;
  color: rgba(211, 211, 211, 0.821);
}
.each:hover{
  color: rgba(198, 198, 198, 0.821);
  background-color: rgb(2, 10, 78);
  transition: .3s;
}
.name{
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.769);
}
.green{
  color: rgb(9, 197, 9);
}
.red{
  color: rgb(228, 22, 22);
}

.grid_container{
  display: grid;
  grid-template-columns: auto auto auto;
  
  gap: 5px;
  font-size: 1.1em;
}
.grid_item{
  padding: 20px;
  text-align: center;
}
.top2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: fit-content;
  margin: 70px auto;
}
.top2 p {
  font-size: 1.2em;
}
button{
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  font-size: 1.2em;
  background-color: #ffffff6d;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 5px black;
}
button:hover{
  background-color: #ffffff88;
}
.header{
  padding: 25px;
}
.crypto_icon{
  width: 30px;
}
.crypto_image{
  width: 120px;
}
.loader {
  border: 10px solid #cacaca2c;
  border-radius: 50%;
  border-top: 10px solid #ffffff;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}